@CHARSET "UTF-8";
html{
	height:100%;
}
body {
	background:#eef2f3;
	height:100%;
	background-image:url("../image/006.jpg");
	overflow-x:visible;
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	font-family: "microsoft yahei";
}

h1 {width:500px;text-align:center;border:0;padding-bottom:0;}

.single-narrow {
    margin: 40px auto;
    width: 420px;
}
.login-register {
    padding: 20px;
}

.login-panel .input-fld {clear:both;}

.login-panel input {
    padding: 10px 0;
    text-indent: 10px;
    width: 100%;
	display:inline;
}
.field {text-align:right;font-weight:bold;}

label, input, button, select, textarea {
    font: inherit;
}
label {
    display: block;
    margin-bottom: 5px;
}
.login-panel .field-row {
    padding-top: 10px;
}
.forgotten-credentials {margin-top:10px;}

label, input, button, select, textarea {
    font: inherit;
}
label {
    display: block;
    margin-bottom: 5px;
}
.btn-block {
    box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-large {
    border-radius: 6px;
    font-size:20px;    line-height: 30px;
}
.container_whole{
}
.page-header h1{
	font-weight: 900;
	color: #C62A31;
}
.login-panel{
	background-color: rgba(255,255,255,0.9);
}
.btn-primary{
	border:none;
}