@CHARSET "UTF-8";

#btn_back {background-color:#cccccc;background-image: linear-gradient(to bottom, #cccccc, #999999);}

.currency-select {line-height:24px;}
.currency-select img {float:left;margin-right:5px;}
.currency-select input {float:left;margin-right:5px;}

#section1 {width:960px;padding:20px;line-height:30px;}

.bank_account_container {margin:10px 0;}
.bank_account {margin-bottom:0;}

.remittance_container {margin:10px 0;}
.remittance {width:300px;height:60px;line-height:20px;}


#security_confirm {display:none;position:fixed;left:0;right:0;top:0;bottom:0;z-index:100;background:rgba(0, 0, 0, 0.6);}
.field {text-align:right !important;line-height:30px !important;}
.w600 {width:500px;margin-top:100px;}
