/* CSS Document */
*{ 
	margin:0; padding:0; 
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑, STHeiti, MingLiu;
    font-size: 14px;
}
a{ text-decoration:none;}
li{ list-style:none;}
body{ min-width:980px;}

#extensionCode{
	color: rgb(86,167,135); 
}

#extensionURL{
	color: rgb(243,112,90); 
}


#message_table tbody tr{
	left: 10px;
	top: 0px;
}

#message_table tbody tr td{
	line-height: 30px;
}
#message_table tbody tr td i{
	color: rgb(244,104,81);
	margin-right:15px;
}

#message_table tbody tr td span{
	margin-right:5px;
}

#message_info{
	margin-left:15px;
}

.msg_btn_read{
	margin-right:5px;
}

#message_table tbody tr td, #message_table tbody tr td span{
	font-size:14px;
	overflow:hidden;  
    white-space:nowrap;  
    text-overflow:ellipsis;  
    -o-text-overflow:ellipsis;  
    -icab-text-overflow: ellipsis;  
    -khtml-text-overflow: ellipsis;  
    -moz-text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis; 
}

#message_table tbody tr td:nth-child(1) {
	text-align: left;
	width:80%;
}
#message_table tbody tr td:nth-child(2) {
	text-align: right;
	width:20%;
}





#notice_table tbody tr td{
	color: rgb(29,126,158);
	line-height: 30px;
	font-size:14px;
}
#notice_table tbody tr td i{
	color: rgb(29,126,158);
	margin-right:10px;
}
#notice_table tbody tr td a{
	color: rgb(29,126,158);
}
#notice_table tbody tr td a:hover{
	text-decoration: underline;
}


#notice_table tbody tr td:nth-child(1) {
	text-align: left;
	width:80%;
}
#notice_table tbody tr td:nth-child(2) {
	text-align: right;
	width:20%;
}

.notice_table_tr td{
	/*font-weight: bold;
	font-size: 16px;
	color: rgb(29,126,158);*/
}
