@CHARSET "UTF-8";

#startDate {width:100px;}
#endDate {width:100px;}

.as-dates-panel li {margin-right:30px;}
.as-dates-panel ul {padding:10px 5px 10px 5px;}
.as-dates-panel label {margin-right:5px;}
.as-dates-panel input {margin-bottom:0;}
.as-dates-panel select {margin-bottom:0;}
.tabhost {
	  list-style: none; 
	  width: 100%;
	  border-bottom: 1px solid #809b30;
	  margin-top: 30px;
}
.tabhost  li{
	   display:inline-table;
	   font-size:16px;
	   padding: 5px 15px;
	   background-color: #90EE90;
	   cursor: pointer;
}