@CHARSET "UTF-8";

.contentcontainer {width:1000px;margin:0 auto;}

.gray {color:#ccc;}

.start {font-size:24px;padding:0 0 20px 0;}
.activate-acc-row {font-size:20px;padding:25px 0px 30px 0px;border-top:1px solid #eee;}
.activate-acc-row button {float:right;font-size:16px;}

.step-guide, .check-guide {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    margin:0 auto 30px auto;
    padding: 35px 25px 0;
}

.right{
	float:right;
}
.step-guide .decimal-bullet {
    line-height: 40px;
}
.step-guide .wrap-bullet {
    margin-left: -20px;
    padding-left: 50%;
}
.decimal-bullet {
    background: #90ab40 none repeat scroll 0 0;
    border-radius: 40px;
    color: #fff;
    display: inline-block;
    font-size: 23px;
    height: 40px;
    margin-top: -3px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}
.step-guide p, .check-guide p {
    font-size: 18px;
    font-weight: 300;
    line-height: 135%;
}

.span4 {width:32%;margin-right:2%;box-sizing: border-box;display: block;float: left;min-height:270px;}
.last {margin-right:0;}

.step-guide h3 {
    line-height: 40px;
    margin-top: 4px;
    text-align: center;
    width: 100%;
}
.step-guide h3, .check-guide h3 {
    color: #2d4f68;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.25px;
    text-transform: none;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color #fff;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 20px 0;
}
.step-guide hr {
    margin-top: -20px;
}
h3 {margin-bottom:0;}
p {margin:0 0 10px;}
.link-panel {
    min-height: 40px;
    position: relative;
    width: 100%;
}
.body_div{
	margin: 20px auto;
}
.floatleft{
	float: left;
}
.chick_btn{
	display: inline-block;
	height: 26px;
	line-height:26px;
	text-align:center;
	border-radius:3px;
	padding:0px 15px;
	background-color:#9DB94C;
	color:white;
	 cursor:pointer;
	 margin-left: 15px;
}
.marginleft10{
	margin-left: 20px;
	margin-top: 10px;
}

.h4{
	font-weight: bold;
}
.input{
	width: 80px;
	height:24px;
	padding: 0px 10px;
}
 .btns{
 	color: white!important;
 	
 } 
/* .btn-primary {
    background-color: #90ab40;
    background-image: linear-gradient(to bottom, #a0bb50, #90ab40);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #a2a2a2;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}



 */




