.marginLR15{
    height: 100%;
    width: 185px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: auto;
    position: absolute;
}


.welcomeLogin{
    margin: 5px auto;
    text-align: center;
}
.welcomeLogin span{
	color: rgb(222,148,42);
    font-weight: bold;
}

.wel_logo{
    margin: 10px 0 0 0;
    background: url(../img/wel_logo.png) no-repeat;
    height: 177px;
    width: 100%;
    background-position: center;
    
/*     demoµÄÍ¼Æ¬ */
/*     background-size: 183.2px 146.4px; */
}


.welcomeFont{
}
.welcomeFont span{
	color: white;
    font-weight: bold;
    font-size: smaller;
}

.contact_list  .contact_ico{
 	float: left;
	width: 20px;
    height: 20px;
	background: rgb(69,85,91);
	color: rgb(255,255,255);
}

.contact_list .contact_info{
    margin-left: 30px;
    width: 130px;
    height: 20px;
	color: white;
	background: rgb(69,85,91);
	overflow: hidden;
}
.contact_list > div, .company_contact_list > div{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    height: 20px;
    line-height: 20px;
}
.contact_list > div{
    text-align: center;
}


.company_contact_list{
	position: relative;
	top: 20px;
}

.company_contact_list > div{
	margin-top: 5px;
}

.company_contact_list .contact_ico{
 	float: left;
	color: rgb(49,186,192);
	font-size: smaller;
    width: 10px;
    text-align: center;
}
.company_contact_list .contact_info{
    margin-left: 20px;
	color: white;
	font-size: x-small;
	overflow: hidden;
}