.a2{
	height: 30px;
	line-height: 30px;
	text-align: right;
	margin-right: 30px;
}


.processor{
	height: 30px;
	width: 100%;
}

.processor > div{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.processor > div > span{
	height: 30px;
}


.processor_0,.processor_1,.processor_2,.processor_3{
	width: 25%;
	background: gainsboro;
}
.processor_0{
	background: rgba(23,154,23,0.9);
}

.operation_0{
	height: 250px;
	width: 50%;	
	margin-top: 30px;
}
.operation_0,.operation_1,.operation_2,.operation_3{
	height: 250px;
	width: 50%;
	margin:30px auto;
}

.email_address_span, .email_input, .email_code{
	text-align: center;
}
.submit_div{
	text-align: center;
	margin-top: 40px;
}
