@CHARSET "UTF-8";
html{
	height:100%;
	background-color: #618590;
}
body {
	background:#eef2f3;
	height:100%;
	background-color: rgba(97,133,144,1);
	background-image: url(../image/bj.png);
	background-repeat: no-repeat;
	background-position:center;
	overflow-x:visible;
	background-attachment: fixed;
	background-position: center;
	background-size:contain;
	font-family: "microsoft yahei";
	/*min-height: 760px;*/
	min-height: 640px;
	min-width: 700px;
}
.header{
	height: 61px;
	min-height: 61px;
    display: -webkit-flex; 
    display: flex;
    flex-direction: row;
    background-color: #131b24;
    opacity: 0.8;  
}
.header  .logo_con {
	height: 61px;
	width: 215px;
}
.header .logo_con  .logo {
	width: 175px;
	height: 31px;
	flex-grow:1;
	background-image: url(../../common/image/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
	margin: 15px 20px;
}






h1 {width:500px;text-align:center;border:0;padding-bottom:0;}

.single-narrow {
    margin: 40px auto;
    /*width: 420px;*/
   width: 100%;
}
.login-register {
    /*padding: 20px;*/
}

.login-panel .input-fld {
	/*clear:both;*/
	float: left;
	padding-bottom: 35px;
}

.input-fld #account{
	width: 250px;
}
.input-fld > select{
	
}

.login-panel input {
    padding: 10px 0;
    text-indent: 10px;
    /*width: 100%;*/
    width: 250px;
   
	display:inline;
    margin-right: 20px;
    opacity: 0.8;
}
.field {text-align:right;font-weight:bold;}

label, input, button, select, textarea {
    font: inherit;
}
label {
    display: block;
    margin-bottom: 5px;
}
.login-panel .field-row {
    padding-top: 10px;
}
.forgotten-credentials {margin-top:10px;}

label, input, button, select, textarea {
    font: inherit;
}
label {
    display: block;
    margin-bottom: 5px;
}
.btn-block {
    box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-large {
    border-radius: 6px;
    font-size:20px;    line-height: 30px;
}
.container_login{
	width: 636px;
	margin: auto;
	height: 400px;
	top: 15%;
	position: relative;
	background-color: rgba(255, 255, 255, 0.9);
}


.container_whole{
	
/* 	background-image: url(../image/bj.png); */
	width: 100%;
	height: 91%;
}
.page-header h1{
	font-weight: 900;
	color: #C62A31;
}
.login-panel{
	background-color: rgba(255,255,255,0.9);
}
.btn-primary{
	border:none;
}

.login_input{
	/*margin-left: 50px;*/
	/*width: 330px;*/
	/*height: 30px;*/
	/*float: right;*/
}
.select{
    height: 41px;
    width: 60px;
    float: left;
}

.logo_mini{
    background-image: url(../image/logo-mini.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 13px;
    width: 20px;
    display: inline-block;
    margin-right: 15px;
}
.login_ico{
	width: 230px;
	height: 183px;
	float: left;
	margin: 20px;
	margin-top: 15%;
	background-image: url(../image/logo11.png);
}
.login_content{
	float: right;
	width: 300px;
    height: 260px;
    margin: 0 40px 30px 20px;
}
.tab{
	margin-top: 10px;
	width: 300px;
	height: 50px;
}
.tab_mobile{
	border-top-right-radius: 20px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: default;
	font-weight:bold;
	border-bottom: 5px solid rgb(222, 148, 42);
}
	
.tab_emial{
    border-top-right-radius: 20px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	/*background: #de942a;*/
}




.tab_mobile span, .tab_emial span{
	font-size: 15px;
}

.user, .pass{
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin-top: 30px;
}
.rem{
	height: 20px;
	line-height: 35px;
	text-align: center;
	margin-top: 15px;
}
.remember{
	float: left;
	width: 100px;
	height: 30px;
}
.remember_check_div{
	float: left;
	width: 15px;
}

.remember_check{
    margin-left: 0px;
    width: 15px;
}
.remember_check_ront_div{
    float: left;
    position: relative;
    top: -8px;
}

.forget{
	float: right;
	width: 125px;
	height: 30px;
	/*background: red;*/
}

.forget a{
	position: relative;
	top: -8px;
}




.login{
	height: 45px;
	line-height: 45px;
	text-align: center;
	/*background: gold;*/
	margin-top: 10px;
}

#account{
    width: 170px;
    height: 33px;
    float: right;
    border: none;
}
#password{
    width: 238px;
    height: 33px;
    float: left;
    border: none;
}

.regist{
	float: right;
	width: 100px;
	height: 30px;
    margin-top: 5px;
}


.password_contain{
	margin-top: 30px;
}


.password_div, .userIcon_div{
    position: relative;
    width: 50px;
    float: left;
    height: 41px;
    line-height: 41px;
    text-align: center;
    /*left: 114px;*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 100;
    display: inline-block;
    margin-top: 5px;
    background: rgba(157,157,157,1);
}
.userIcon_div span, .password_div span{
	font-size: xx-large;
	color: white;
    position: relative;
    display: inline-block;
    top: 5px;
    
}

.btn_login{
	width: 100%;
    height: 40px;
}
