@CHARSET "UTF-8";
html{
	height:100%;
	background-color: #618590;
}
body {
	background-color: #618590;
	height:100%;
	background-image:url("../image/bj.png");
	overflow-x:visible;
	background-attachment: fixed;
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
	font-family: "microsoft yahei";
	min-height: 760px;
	min-width: 600px;
}

h1 {width:500px;text-align:center;border:0;padding-bottom:0;}

.header{
	height: 61px;
	min-height: 61px;
    display: -webkit-flex; 
    display: flex;
    flex-direction: row;
    background-color: #131b24;
    opacity: 0.8;  
}
.header  .logo_con {
	height: 61px;
	width: 215px;
}
.header .logo_con  .logo {
	width: 175px;
	height: 31px;
	flex-grow:1;
	background-image: url(../../common/image/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
	margin: 15px 20px;
}


.field {text-align:right;font-weight:bold;}

label, input, button, select, textarea {
    font: inherit;
}
label {
    display: block;
    margin-bottom: 5px;
}
.mini-layout{
	background-color: #f5f7f7;
    filter:alpha(opacity=90);  
    -moz-opacity:0.9;  
    -khtml-opacity: 0.9;  
    opacity: 0.9;  
}
label, input, button, select, textarea {
    font: inherit;
}
label {
    display: block;
    margin-bottom: 5px;
}
.btn-primary{
	border:none;
	height: 38px;
}
.table{
	margin: 0px auto;
}
#btn_register{
    width: 210px;
    height: 35px;
}
