select {
	border: 1px solid rgb(169, 169, 169);
	font-size: 13px;
}

.select-small {
	width: 60px;
	height: 30px;
}

.select-medium {
	width: 100px;
	height: 30px;
}

.select-big {
	width: 160px;
	height: 30px;
}

.rightTR tr {
	height: 60px;
}

.select-small-input {
	width: 237px;
}

.select-medium-input {
	width: 196px;
}

.input-medium {
	width: 300px;
}