@CHARSET "UTF-8";
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	overflow-y: scroll;
	color: #333333;
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑, STHeiti, MingLiu;
	background: #618590;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
dl, dt, dd, p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #802b20;
	cursor: pointer;
}
.bold {
	font-weight: 200;
}
.clear {
	float: none !important;
	clear: both;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 0 !important;
	width: 0 !important;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
.cursor-p{
	cursor: pointer;
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.red {
	color: red;
}
.green {
	color: green;
}
.blue {
	color: blue;
}
.black {
	color: black;
}
.gray {
	color: gray;
}
.white {
	color: white;
}
.purple {
	color: purple;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0px;
	font-weight: 200;
	line-height: 20px;
	color: #000;
	text-rendering: optimizelegibility;
	font-weight: 500;
}
h1 {
	width: 90%;
	margin: 30px auto 20px auto;
	font-size: 32px;
	line-height: 32px;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom: 1px solid #dde5e8;
}
h2 {
	width: 91%;
	margin: 10px auto;
}
h4 {
	font-size: 16px;
}

li {
	list-style: outside none none;
}
li {
	line-height: 20px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: 15px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	resize: none;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	color: #555;
	display: inline-block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 4px 6px;
	vertical-align: middle;
	margin: 5px 0;
}
input {
	width: 198px;
}
select {
	width: 212px;
	height: auto;
/* 	border:none; */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
/* 	table-layout: fixed; */
}
table td {
	padding: 0;
/* 	text-overflow: ellipsis;  */
/* 	white-space: nowrap;  */
/* 	overflow: hidden; */
}
.table > tbody > tr > th, .table > thead > tr > th {
/* 	background-color: #cccccc; */
	border: 0;
	vertical-align: middle;
	line-height: 20px;
	text-align: left;
	padding: 4px 5px;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	padding-left: 10px;
	font-weight: normal;
}
.table > tbody > tr > td {
	line-height: 20px;
	vertical-align: middle;
	padding: 4px 5px;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	/*animation: 1s tdAnimation both;*/
    color: #000;
    font-weight: 500;
}
.table > tbody > tr{
	animation: 1s tdAnimation both;
}
@keyframes tdAnimation{
	15%{opacity: 0.8;}
	to{opacity: 1;}
}



.table-border > tbody > tr > td, .table-border > tbody > tr > th, .table-border > thead > tr > th {
	border: 1px solid #D2D2D2;
}
.table-border-column > tbody > tr > td, .table-border-column > tbody > tr > th, .table-border-column > thead > tr > th {
	border-left: 1px solid #D2D2D2;
	border-right: 1px solid #D2D2D2;
}
.table-border-row > tbody > tr > td, .table-border-row > tbody > tr > th, .table-border-row > thead > tr > th {
	border-top: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
	
}
.table-condensed th {
	border-top: 0;
	padding: 5px;
}
.table-condensed td {
	padding: 5px;
	height: 35px;
}
.table-condensed th{
	padding: 5px;
	height: 40px;
}

.table-striped tbody > tr:nth-child(2n) > td, .table-striped tbody > tr:nth-child(2n+1) > th, .table-striped thead > tr:nth-child(2n+1) > th {
	background-color: #f4f4f4;
}

.table > thead > tr >.amount, .table > tbody > tr >.amount,.table > thead > tr >.align-right, .table > tbody > tr >.align-right {
	text-align: right;
}

.table-fixed{
	table-layout: fixed;
}

.td-hide {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #eeeeee;
	background-image: linear-gradient(to bottom, #fff, #eeeeee);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #eeeeee;
	border-image: none;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 0;
	padding: 5px 15px;
	text-align: center;
	/*	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
	vertical-align: middle;
	border-bottom: 2px solid #e6e6e6;
	color: #000;
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑, STHeiti, MingLiu;
}
.btn-file{
	position: relative;
    display: inline-block;
    background-color: #56a787;
	background-image: linear-gradient(to bottom, #56a787, #56a787);
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-bottom: 2px solid #56a787;
	overflow: hidden;
}
.btn-file > input[type='file']{
	position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.btn-a,.btn-primary {
	background-color: #56a787;
	background-image: linear-gradient(to bottom, #56a787, #56a787);
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-bottom: 2px solid #56a787;
}
.btn-b {
	background-color: #de942a;
	background-image: linear-gradient(to bottom, #de942a, #de942a);
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-bottom: 2px solid #de942a;
}
.btn-c {
	background-color: #gray;
	background-image: linear-gradient(to bottom, #gray, #gray);
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-bottom: 2px solid #gray;
}
.btn-d {
	background-color: #00a1a6;
	background-image: linear-gradient(to bottom, #00a1a6, #00a1a6);
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-bottom: 2px solid #00a1a6;
}
.btn-e {
	background: rgba(0, 0, 0, 0.20)!important;
	background-image: linear-gradient(to bottom, #000000, #000000);
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-bottom: 2px solid #000000;
/* 	border-bottom: 2px rgba(0, 0, 0, 0.20)!important; */
/*     cursor: default; */
}
.btn-f {
	background-color: #513347;
	background-image: linear-gradient(to bottom, #513347, #513347);
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-bottom: 2px solid #513347;
}
.btn-g {
	background-color: #b5b4b8;
	background-image: linear-gradient(to bottom, #b5b4b8, #b5b4b8);
	background-repeat: repeat-x;
	color: #000;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-bottom: 2px solid #b5b4b8;
    filter:alpha(opacity=80);  
    -moz-opacity:0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8; 
}
.tab_content {
	border: 1px solid silver;
	margin-top: -2px;
	z-index: -10;
}
#tab_list {
	height: 40px;
}
#tab_list li {
	border: 1px solid silver;
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	padding: 5px 15px;
	background: #ddd;
}
#tab_list li.current {
	background: white;
	border-bottom: none;
}

.as-dates-panel li {
	float: left;
	margin-right: 10px;
	line-height: 40px;
}

.label {
	border-radius: 3px;
}
.label, .badge {
	background-color: #999;
	color: #fff;
	display: inline-block;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	padding: 2px 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
}

.label {
	border-radius: 3px;
}
.label, .badge {
	background-color: #999;
	color: #fff;
	display: inline-block;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	padding: 2px 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
}
.label-pending, .badge-pending {
	background-color: #666666;
}
.label-particular-filled, .badge-particular-filled {
	background-color: #868626;
}
.label-red, .label-warn{
	background-color: #ff0000;
}
.label-cancel, .badge-cancel {
	background-color: #ff0000;
}
.label-success, .badge-success {
	background-color: #468847;
}

.label-warning, .badge-warning {
	background-color: #f89406;
}

.label-important, .badge-important {
	background-color: #b94a48;
}
.container {
	min-width: 1000px;
	/*min-height: 800px;*/
	top: 61px;
	overflow: hidden;
/* 	padding-top: 50px; */
}

.pagelist {
	float: right;
	text-align: center;
	margin: 5px 0 10px;
}

.pagelist div {
	float: right;
}

.pagelist a {
	font-size: 14px;
	height: 23px;
	line-height: 23px;
	margin-right: 5px;
	overflow: hidden;
	padding: 0 6px;
	text-align: center;
	vertical-align: middle;
	color: #7799aa;
	cursor: pointer;
	text-decoration: none;
	display: block;
	color: #000000;
	border: 1px solid #aaccdd;
	background-color: #a7acab;
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑, STHeiti, MingLiu;
	border-radius: 5px;
	font-weight: 500;
	float: left;
}

.pagelist a:hover {
	border: 1px solid #56a787;
	color: #FFFFFF;
	background-color: #56a787;
}

.pagelist .disabled{
	background-color: #de942a;
	color: #FFFFFF;
	border: 1px solid #aaccdd;
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑, STHeiti, MingLiu;
	border-radius: 5px;
	font-weight: 600;
}
.pagelist input {
	padding: 0;
	margin: 0 5px 0 0;
	vertical-align: baseline;
	background-color: #a7acab;
}
.pagelist input[type='button'] {
	width: 50px;
	font-size: 15px;
	border: 1px solid #aaccdd;
	background-color: #de942a;
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑, STHeiti, MingLiu;
	border-radius: 5px;
	font-weight: 500;
	color: #FFFFFF;
}
.pagelist span {
	font-family: Arial, SimSun;
	font-size: 13px;
	height: 23px;
	line-height: 23px;
	margin-right: 5px;
	overflow: hidden;
	padding: 0 6px;
	text-align: center;
	vertical-align: middle;
	color: black;
	text-decoration: none;
	display: block;
	float: left;
}

.pagelist span.white {
	background: white;
}
legend ,legend:nth-child(3n){
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	color: #396172;
	display: block;
	font-size: 14px;
	line-height: 30px;
	width: 99%;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	padding-left: 1%;
	background-color: #0d526e;
	color: #FFFFFF;
	border: 1px solid #0d526e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: -webkit-linear-gradient(#7f777e, #44444c, #44444c); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#7f777e, #44444c, #44444c); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#7f777e, #44444c, #44444c); /* Firefox 3.6 - 15 */
	background: linear-gradient(#7f777e, #44444c, #44444c); /* 标准的语法 */
}
.legend-a,legend:nth-child(3n+1){
	background: -webkit-linear-gradient(#828580, #3d4240, #3d4240); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#828580, #3d4240, #3d4240); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#828580, #3d4240, #3d4240); /* Firefox 3.6 - 15 */
	background: linear-gradient(#828580, #3d4240, #3d4240); /* 标准的语法 */
}
.legend-b,legend:nth-child(3n+2) {
	background: -webkit-linear-gradient(#636f76, #3a444a, #3a444a); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#636f76, #3a444a, #3a444a); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#636f76, #3a444a, #3a444a); /* Firefox 3.6 - 15 */
	background: linear-gradient(#636f76, #3a444a, #3a444a); /* 标准的语法 */
}

@keyframes opacity{
	from{opacity: 0.8;}
	to{opacity: 1;}
}
@keyframes left_to_right{
	from{left: -25px;opacity: 0.8;}
	50%{left: 10px;}
	to{left: 0px;opacity: 1;}
}
@keyframes right_to_left{
	from{left: 25px;opacity: 0.8;}
	50%{left: -10px;}
	to{left: 0px;opacity: 1;}
}
legend, .legend-a, .legend-b{
	position: relative;
	animation: .75s opacity both;
	animation-timing-function: ease-in-out;
}
.mini-layout{
	position: relative;
	animation: .5s left_to_right both;
	animation-timing-function: ease-in-out;
}
.mini-layout-opacilty{
	position: relative;
	animation: .5s right_to_left both;
	animation-timing-function: ease-in-out;
}

.popup_dialog {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.6);
	overflow-y: auto;
}

.field {
	text-align: right !important;
	line-height: 30px !important;
	font-weight: 200;
}
.w200 {
	width: 200px;
	margin-top: 5%;
}
.w300 {
	min-width: 300px;
    width: 25%;
	margin-top: 5%;
}
.w450 {
	width: 450px;
	margin-top: 5%;
}
.w500 {
	width: 500px;
	margin-top: 5%;
}
.w550 {
	width: 550px;
	margin-top: 5%;
}
.w600 {
	width: 800px;
	margin-top: 5%;
}
.w800 {
	min-width: 800px;
	width: 70%;
	margin-top: 5%;
}
.w980 {
	min-width: 980px;
	width: 90%;
	margin: 0 auto;
	margin-top: 5%;
}
.w1000 {
	min-width: 1000px;
	width: 90%;
	margin-top: 5%;
	margin: 0 auto;
}
.w1100 {
	min-width: 1100px;
	width: 90%;
	margin-top: 5%;
	margin: 0 auto;
}
.w1150 {
	min-width: 1150px;
	width: 90%;
/* 	width: 1150px; */
	margin-top: 5%;
	margin: 0 auto;
}
.w1200 {
	min-width: 1100px;
	margin-top: 5%;
	margin: 0 auto;
}
.mini-layout {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075);
	margin: 20px auto;
	background: #f0f3f4 none repeat scroll 0% 0%;
	font-size: 12px;
	border-radius: 5px;
	padding-bottom: 5px;
}
.mini-layout-opacilty {
	margin: 20px auto;
	font-size: 12px;
	border-radius: 5px;
	padding-bottom: 5px;
}
.layout {
	background: #FFFFFF none repeat scroll 0% 0%;
}
.no-overflow {
	overflow: visible;
}

.padding10 {
	padding: 10px;
}
.padding15 {
	padding: 15px;
}
.padding20 {
	padding: 20px;
}
.padding25 {
	padding: 25px;
}
.padding30 {
	padding: 30px;
}
.padding-left10 {
	padding-left: 10px;
}
.padding-left15 {
	padding-left: 15px;
}
.padding-left20 {
	padding-left: 20px;
}
.padding-left25 {
	padding-left: 25px;
}
.padding-left30 {
	padding-left: 30px;
}

.padding-right10 {
	padding-right: 10px;
}
.padding-right15 {
	padding-right: 15px;
}
.padding-right20 {
	padding-right: 20px;
}
.padding-right25 {
	padding-right: 25px;
}
.padding-right30 {
	padding-right: 30px;
}

.padding-top10{
	padding-top: 10px;
}
.padding-top15{
	padding-top: 15px;
}
.padding-top20{
	padding-top: 20px;
}
.padding-top25{
	padding-top: 25px;
}
.padding-top30{
	padding-top: 30px;
}

.padding-bottom10{
	padding-bottom: 10px;
}
.padding-bottom15{
	padding-bottom: 15px;
}
.padding-bottom20{
	padding-bottom: 20px;
}
.padding-bottom25{
	padding-bottom: 25px;
}
.padding-bottom30{
	padding-bottom: 30px;
}
.no-padding {
	padding: 0;
}
.no-padding-top {
	padding-top: 0;
}
.no-padding-right {
	padding-right: 0;
}
.no-padding-left {
	padding-left: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.margin10 {
	margin: 10px;
}
.margin15 {
	margin: 15px;
}
.margin20 {
	margin: 20px;
}
.margin25 {
	margin: 25px;
}
.margin30 {
	padding: 30px;
}
.margin-left10 {
	margin-left: 10px;
}
.margin-left15 {
	margin-left: 15px;
}
.margin-left20 {
	margin-left: 20px;
}
.margin-left25 {
	margin-left: 25px;
}
.margin-left30 {
	margin-left: 30px;
}

.margin-right10 {
	margin-right: 10px;
}
.margin-right15 {
	margin-right: 15px;
}
.margin-right20 {
	margin-right: 20px;
}
.margin-right25 {
	margin-right: 25px;
}
.margin-right30 {
	margin-right: 30px;
}

.margin-top10{
	margin-top: 10px;
}
.margin-top15{
	margin-top: 15px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-top25{
	margin-top: 25px;
}
.margin-top30{
	margin-top: 30px;
}

.margin-bottom10{
	margin-bottom: 10px;
}
.margin-bottom15{
	margin-bottom: 15px;
}
.margin-bottom20{
	margin-bottom: 20px;
}
.margin-bottom25{
	margin-bottom: 25px;
}
.margin-bottom30{
	margin-bottom: 30px;
}
.no-margin {
	margin: 0;
}
.no-margin-top {
	margin-top: 0;
}
.no-margin-right {
	margin-right: 0;
}
.no-margin-left {
	margin-left: 0;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.font-green{
    color: rgb(23,154,23);
}
.font-red{
    color: red;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}


